<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Counter</title>
</head>

<body>
  <fieldset>
    <h2> Counter: </h2>
    <h4> Number of times visited:
      <%= count %>
    </h4>
    <h4> Name of user:
      <%= name %>
    </h4>
    <a href="/ash"><button>Click to see Ash details</button></a>
  </fieldset>

</body>

</html>
