<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Costa Rican Cats</title>
</head>

<body>
  <h2>Cat of Costa Rica:</h2>
  <fieldset>
    <p>The Jaguarundi</p>
    <a href="/jaguarundi"><img src="images/jaguarundi.jpg" alt="Jaguarundi Image"></a>

    <p>The Margay</p>
    <a href="/margay"><img src="images/margay.jpg" alt="Margay Image"></a>
  </fieldset>

</body>

</html>
