<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new car info here</title>
</head>

<body>
    <div>
        <h3>cars are not that great!</h3>
    </div>
    <div>
        <fieldset>
            <legend>Register New Car</legend>
            <form action="/new_car" method="POST">
                <p>Make: </p> <input type="text" name="make">
                <p>Model: </p> <input type="text" name="model">
                <br>
                <button type="submit">Log In</button>
            </form>
        </fieldset>
    </div>
</body>

</html>